/* <a href='https://pngtree.com/freepng/vector-bug-icon_4101452.html'>png image from pngtree.com/</a> */

/* font-family: 'Eater', cursive;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* header, footer */

header,
footer {
  background-color: #2a2a2a;

  text-align: center;
  padding: 2em;
}

header h1 {
  color: #e26d5c;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Eater", cursive;
  text-shadow: 1px 1px 0 black, 2px 2px 5px white;
}

footer h5 {
  color: #eee;
  font-size: 1rem;
}

/* main */

main {
  flex-grow: 1;
  background-color: #ffe1a8;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

/* home */

.home-main-container {
  justify-content: center;
  text-align: center;
}

.home-h2 {
  font-size: 2rem;
  font-weight: bold;
}

.home-p {
  margin-top: 1em;
  font-size: 1.5rem;
}

/* game */

.game-container {
  /* justify-content: space-evenly;
  align-items: center; */
}

.controls-container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
}

.board-container {
  width: 1000px;
  height: 600px;
  border: 1px solid #2a2a2a;
  box-shadow: 2px 2px 5px #2a2a2a, inset 2px 2px 5px #2a2a2a,
    inset -2px -2px 5px white;
  position: relative;
  background-image: url("./images/barley.jpg");
  background-size: cover;
  border-radius: 5px;
}

.bug-container {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.bug-image {
  width: 100%;
  object-fit: cover;
}

/* utility */

.hidden {
  display: none;
}

.unhidden {
  display: flex;
}

.visible {
  opacity: 0;
  animation-name: appear;
  animation-timing-function: ease-in;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

/* buttons and links */

button {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: chartreuse;
  border: 2px solid #2a2a2a;
  border-radius: 5px;
}

.home-button {
  margin-top: 2em;
}

.home-button:nth-child(2) {
  margin-left: 2em;
}
